      <style>
          img {
            width: 200px;
          }
          body {
            color: brown;
            <! background-color: blue; />
            <! background-image: url('images/soccerball.jpg'); />
            background-image: 'images/soccerball.jpg';
            font-family: Arial;
            font-size: 14px;
            text-align: left;
          }
      </style>
