      <style>
          img {
            width: 200px;
          }
          body {
            color: green;
            <! background-color: blue; />
            <! background-image: url('images/soccerball.jpg'); />
            background-image: url('images/soccerball.jpg');
            font-family: Arial;
            font-size: 14px;
            text-align: center;
          }
      </style>
